@import '../variables.css';
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13vh;
  background-color: var(--header-color); /* Adjust background color as needed */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 13vh; 
  width: auto;
}

.logo {
  max-height: 13vh; /* Ensure the image height is constrained */
  width: auto;
  cursor: pointer;
  object-fit: contain;
}
