:root {
     /*general*/
    --background-color: #fffbee;
    --header-color: #9dc1d0;
    --text-light-color: #ffffff;
    --text-dark-color: #00145d;
    --font-family:  "Roboto", sans-serif;
     /*buttons*/
    --button-primary-text-color: #fcffde;
    --button-secondary-text-color: #0016FF;
    --button-primary-background-color: #0016FF;
    --button-secondary-background-color: #00fbff;
    --button-primary-hover-background-color: #00fbff;
    --button-secondary-hover-background-color: #0016FF;
    --button-primary-hover-text-color: #0016FF;
    --button-secondary-hover-text-color: #00fbff;
    --button-font-weight: 550;
    --button-border-radius: 5px;
     /*placeholder*/
     --placeholder-color: #999;
     /*product badge*/
     --badge-background-color: #0d908d;
     --badge-text-color: #fff;
     --badge-border-radius: 3px;
     --badge-font-weight: 550;
     /*footer*/
     --footer-background-color: #00145d;
     --footer-link-color: #ffffff;
     --footer-copy-color: #fcffde;
     /*cookies*/
     --cookies-background-color: #00145d;
     --cookies-text-color: #ffffff;
     --cookies-link-color: #0016FF;
     --cookies-copy-color: #fcffde;
     --cookies-link-font-weight: 550;
  }
  