:root {
     /*general*/
    --background-color: #fff;
    --header-color: #fff;
    --text-light-color: #fe5d9f;
    --text-dark-color: #fe5d9f;
    --font-family: "Josefin Sans", sans-serif;
     /*buttons*/
    --button-primary-text-color: hsl(335, 99%, 68%);
    --button-secondary-text-color: #fff;
    --button-primary-background-color: #fff;
    --button-secondary-background-color: #fe5d9f;
    --button-primary-hover-background-color: #fe5d9f;
    --button-secondary-hover-background-color: #fe5d9f;
    --button-primary-hover-text-color: #F8F6E3;
    --button-secondary-hover-text-color: #F8F6E3 ;
    --button-font-weight: 550;
    --button-border-radius: 0;
     /*placeholder*/
     --placeholder-color: #fff;
     /*product badge*/
     --badge-background-color: #fe5d9f;
     --badge-text-color: #fff;
     --badge-border-radius: 3px;
     --badge-font-weight: 550;
     /*footer*/
     --footer-background-color: #fe5d9f;
     --footer-link-color: #F8F6E3;
     --footer-copy-color: #F8F6E3;
     /*cookies*/
     --cookies-background-color: #F8F6E3;
     --cookies-text-color: #F8F6E3;
     --cookies-link-color: #fe5d9f;
     --cookies-copy-color: #fcffde;
     --cookies-link-font-weight: 550;
  }
  