:root {
     /*general*/
    --background-color: #F8F6E3;
    --header-color: #3593d2;
    --text-light-color: #FAEDCE;
    --text-dark-color: #00145d;
    --font-family: "Kanit", sans-serif;
     /*buttons*/
    --button-primary-text-color: #F8F6E3;
    --button-secondary-text-color: #F8F6E3;
    --button-primary-background-color: #3593d2;
    --button-secondary-background-color: #3593d2;
    --button-primary-hover-background-color: #57CC99;
    --button-secondary-hover-background-color: #57CC99;
    --button-primary-hover-text-color: #F8F6E3;
    --button-secondary-hover-text-color: #015453 ;
    --button-font-weight: 550;
    --button-border-radius: 5px;
     /*placeholder*/
     --placeholder-color: #999;
     /*product badge*/
     --badge-background-color: #015453;
     --badge-text-color: #fff;
     --badge-border-radius: 3px;
     --badge-font-weight: 550;
     /*footer*/
     --footer-background-color: #015453;
     --footer-link-color: #F8F6E3;
     --footer-copy-color: #F8F6E3;
     /*cookies*/
     --cookies-background-color: #00145d;
     --cookies-text-color: #F8F6E3;
     --cookies-link-color: #3593d2;
     --cookies-copy-color: #fcffde;
     --cookies-link-font-weight: 550;
  }
  